/******** FORM SECTION *********/
.form_content{
    display: flex;
    width: 100%;
    height: 100vh;
}


.form_title {
    position: absolute;
    width: 50vw;
    padding: 20px 0;
    background-color: white;
    z-index: 2;
    text-align: center;
    font-family: 'ArlaStrong';
    font-size: 32px;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto
}

.form-main {
    position: relative;
}

.form_section{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.form_cows_background {
    background-image: url(../img/cow_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_milk_background {
    background-image: url(../img/milk_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_tractor_background {
    background-image: url(../img/tractor_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_pollution_background {
    background-image: url(../img/pollution_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_cows_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.form_milk_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.form_tractor_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.form_pollution_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.continue_button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px;
    font-family: ArlaInterface-bold;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    bottom: 20%;
}

.continue_button:hover {
    background-color: white;
    color: var(--dark);
    transition: 0.9s;
}


.continue_link {
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}


/******** FORM QUESTIONS *********/
.form_questions_content{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: var(--main-green);
    justify-content: space-evenly;
    align-items: flex-end;
}

.form_questions_section {
    background-color: var(--main-green);
    grid-area: main-content;
}

.pro-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}

.field {
    margin: 30px 0 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
  
.actions {
margin-top: 25px;

}

.form_questions {
    width: 80%;
    font-family: 'ArlaInterface-bold';
    font-size: 20px;
}

.question_input {
    border: #EBE9E9 2px solid;
    padding: 8px;
    border-radius: 12px;
    margin-top: -10px;
    outline: none;
    width: 20%;
    
}

.progress-wrap {
    text-align: center;
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.changeCows {
    background-color: white;
}

.progress {
    width: 100%;
    margin: 0 0 5px 0;
}

.icon_svg {
    width: 30px;
    margin-bottom: -5px;
}

progress#progress {
    appearance: none;
}

progress#progress::-webkit-progress-value {
    background-color: var(--yellow);
    border-radius: 8px;

}

progress#progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 8px;
    height: 10px;
    width: 100px;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

}

.progress-message {
    font-size: 20px;
    font-family: 'ArlaInterface-regular';
    align-self: flex-end;
    position: absolute;
}

.save_button {
    background-color: var(--btn-green);
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 30px;
    font-size: 18px;
}



.save_button:hover {
    opacity: 0.9;
}

.create_button {
    margin-left: 9.4vw;
}

.milk_section_questions {
    display: none;
}

.cows_section_questions {
    display: block;
}

.pollution_section_questions {
    display: none;
}

.tractor_section_questions {
    display: none;
}

.cow_question_icon {
    fill: var(--main-green);
}

.milk_question_icon {
    fill: white;
}

.tractor_question_icon {
    fill: white;
}

.pollution_question_icon {
    fill: white;
}
