:root{
    --main-green: #367964;
    --btn-green: #B8D2BC;
    --hover-green: #265F3D;
    --dark: #323A38;
    --grey: #93A5A1;
    --yellow: #F3CB54;
    --shadow: 0px 4px 8px 0px rgba(0,0,0,0.16);
}

/*===IMPORTING FONTS===*/
@font-face {
    font-family: 'ArlaInterface-regular';
    src: url('../fonts/ArlaInterFace-Regular.woff');
}

@font-face {
    font-family: 'ArlaInterface-bold';
    src: url('../fonts/ArlaInterFace-Bold.woff');
}

@font-face {
    font-family: 'ArlaStrong';
    src: url('../fonts/ARLASTRONG-Regular.woff');
}

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    font-family: ArlaInterface-regular;
    color: var(--dark);
}

h1, h2{
    font-family: ArlaStrong;
}

button{
    text-transform: uppercase;
    outline: none;
    border: none;
    font-family: ArlaInterface-Bold;
}

button:hover{
    cursor: pointer;
}
/***** NAVIGATION *****/
.navigation{
    background-color: white;
    position: fixed;
    grid-area: nav;
    position: fixed;
    height: 100vh;
    grid-column: 1 / 2;
    grid-row-start: 1;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.nav_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    width: 80%;
    justify-content: center;
    display: flex;
    text-align: center;
    
}

.nav_link {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-family: 'ArlaStrong';
    color: var(--dark);

}

.nav_link:hover {
    color: var(--grey);
    transition: 0.2s;
}

.nav_logo {
    width: 100%;
    margin: auto;
}

.nav_icon {
    width: 60%;
    margin-bottom: 5px;
}

.nav_rights {
    font-family: 'ArlaInterface-regular';
    font-size: 12px;
}

.main-content{
    grid-area: main-content;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "navigation main-content"
    "navigation main-content";
}

/******** FORM SECTION *********/
.form_content{
    display: flex;
    width: 100%;
    height: 100vh;
}

.form_title {
    position: absolute;
    width: 50vw;
    padding: 20px 0;
    background-color: white;
    z-index: 2;
    text-align: center;
    font-family: 'ArlaStrong';
    font-size: 32px;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto
}

.form-main {
    position: relative;
}

.form_section{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.form_cows_background {
    background-image: url(../img/cow_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_milk_background {
    background-image: url(../img/milk_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_tractor_background {
    background-image: url(../img/tractor_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_pollution_background {
    background-image: url(../img/pollution_background.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(50%) brightness(50%);
}

.form_cows_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.form_milk_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.form_tractor_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.form_pollution_background:hover {
    filter: grayscale(0%) brightness(70%);
}

.continue_button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px;
    font-family: ArlaInterface-bold;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    bottom: 20%;
}

.continue_link {
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}


/******** FORM QUESTIONS *********/
.form_questions_content{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: var(--main-green);
    justify-content: space-evenly;
    align-items: flex-end;
}

.form_questions_section {
    background-color: var(--main-green);
    grid-area: main-content;
}

.pro-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}

.field {
    margin: 30px 0 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
  
.actions {
margin-top: 25px;

}

.form_questions {
    width: 80%;
    font-family: 'ArlaInterface-bold';
    font-size: 20px;
}

.question_input {
    border: #EBE9E9 2px solid;
    padding: 8px;
    border-radius: 12px;
    margin-top: -10px;
    outline: none;
    width: 20%;
    
}

.progress-wrap {
    text-align: center;
    font-size: 10px;
    color: white;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    width: 100%;
    margin: 0 0 5px 0;
}

.icon_svg {
    width: 30px;
    margin-bottom: -5px;
}

progress#progress {
    appearance: none;
}

progress#progress::-webkit-progress-value {
    background-color: var(--yellow);
    border-radius: 8px;

}

progress#progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 8px;
    height: 10px;
    width: 100px;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

}

.progress-message {
    font-size: 20px;
    font-family: 'ArlaInterface-regular';
    align-self: flex-end;
    position: absolute;
}

.save_button {
    background-color: var(--btn-green);
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 30px;
    font-size: 18px;
}

/**** DATA PAGE *****/
.top_data_title{
    width: 100%;
    height: 10vh;
    background-color: var(--main-green);
    color: white;
    font-family: 'ArlaStrong';
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 20px 0;
}


.data-container{
    width: 85%;
    margin: 0 auto;
}

.data_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.prices_top_section {
    width: 100%;
    height: 12vh;
    margin: 5vh auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.price_element {
    width: 20%;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'ArlaInterface-bold';
}

.price_number {
    display: flex;
    flex-direction: row;
    font-family: 'ArlaStrong';
    align-items: center;
    font-size: 32px;
}

.carbon_box {
    width: 100%;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.data_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.carbon_box_title {
    margin-left: 30px
}

/***NEWS PAGE***/
.news{
    max-width: 1100px;
    margin: 0 auto;
}
    
canvas {
    margin: 2em auto;
    width: 80%;
}

.categories{
    width: 100%;
    margin-top: 50px;
    padding: 15px 0;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.category-btn{
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.category-btn img{
    width: 30px;
    margin-right: 10px;
}

.active{
    width: 100%;
    height: 5px;
    background-color: var(--yellow);
    position: absolute;
    bottom: -15px;
    left: 0;
}

.news-big-pic{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.news-container{
    margin-top: 40px;
}

.news-main-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 997;
}

.news-article{
    display: flex;
    width: 40%;
}

.news-title{
    font-size: 18px;
}

.desc-short{
    font-size: 16px;
    margin: 10px 0;
}

.author-and-date{
    font-size: 14px;
    color: var(--grey);
}

/*SPECIFIC ARTICLE*/
.specific-big-pic{
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
}

.specific-title{
    margin-top: 15px;
    font-size: 42px;
    text-align: left;
    color: var(--dark);
}

.specific-text{
    font-size: 18px;
}

.current-category{
    display: none;
}

.go-back{
    color: var(--dark);
}


.link-to-article{
    color: var(--dark);
    text-decoration: none;
}
   
@media (max-width: 700px){
    .grid-container { 
        grid-template-columns: 1fr; 
      } 
  
      .current-category{
          box-shadow: var(--shadow);
          box-sizing: border-box;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
  
      .icon-up-down{
          width: 20px;
          height: 10px;
      }
  
      .categories{
          flex-direction: column;
          justify-content: flex-start;
          position: absolute;
          z-index: 9999;
          transform: translateY(-2000px);
          margin-top: 0px;
          transition: 0.4s;
          background-color: #fff;
      }
  
      .categories span{
          margin: 10px 20px;
      }
  
      .news-main-top{
          flex-direction: column;
          align-items: center;
      }
  
      .news-article{
          width: 100%;
      }
  
      .news-container{
          width: 90%;
          margin: 0 auto;
      }
}
  @media (max-width: 900px) { 
    .grid-container { 
        grid-template-columns: 100px 1fr; 
    } 
}
