:root{
    --main-green: #367964;
    --btn-green: #B8D2BC;
    --hover-green: #265F3D;
    --dark: #323A38;
    --grey: #93A5A1;
    --yellow: #F3CB54;
    --shadow: 0px 4px 8px 0px rgba(0,0,0,0.16);
}

/*===IMPORTING FONTS===*/
@font-face {
    font-family: 'ArlaInterface-regular';
    src: url('/fonts/ArlaInterFace-Regular.woff');
}

@font-face {
    font-family: 'ArlaInterface-bold';
    src: url('/fonts/ArlaInterFace-Bold.woff');
}

@font-face {
    font-family: 'ArlaStrong';
    src: url('/fonts/ARLASTRONG-Regular.woff');
}

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    font-family: ArlaInterface-regular;
    color: var(--dark);
}

h1, h2{
    font-family: ArlaStrong;
}

button{
    text-transform: uppercase;
    outline: none;
    border: none;
    font-family: ArlaInterface-Bold;
}

button:hover{
    cursor: pointer;
}
/***** NAVIGATION *****/
.navigation{
    background-color: white;
    grid-area: nav;
    height: 100vh;
    grid-column: 1 / 2;
    grid-row-start: 1;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.nav_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    width: 80%;
    justify-content: center;
    display: flex;
    text-align: center;
    
}

.nav_link {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-family: 'ArlaStrong';
    color: var(--dark);

}

.nav_link:hover {
    color: var(--grey);
    transition: 0.2s;
}

.nav_logo {
    width: 100%;
    margin: auto;
}

.nav_icon {
    width: 60%;
    margin-bottom: 5px;
}

.nav_rights {
    font-family: 'ArlaInterface-regular';
    font-size: 12px;
}

.main-content{
    background-color: rgb(36, 193, 221);
    grid-area: main-content;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "navigation main-content"
    "navigation main-content";
}

@media (min-width: 600px) { 
    .grid-container { 
      grid-template-columns: 1fr; 
    } 
  } 
   
  @media (min-width: 960px) { 
    .grid-container { 
        grid-template-columns: 100px 1fr; 
    } 
}